{% extends 'base.html' %}

{% block title %}Services{% endblock title %}

{% block body %}


<div class="container-fluid px-0">
      <img src="https://source.unsplash.com/1600x400/?cakes,pastry" class="d-block w-100" alt="...">

</div>

<div class="text-center mt-5">
      <h1 class="display-4 fw-bold" id="cakes">Our Services</h1>
      <hr class="w-25 mx-auto"/>
</div>
<div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm">
                <img src="https://source.unsplash.com/1200x900/?chocolate log" class="d-block w-100" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="https://source.unsplash.com/1200x900/?cream cake" class="d-block w-100" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="https://source.unsplash.com/1200x900/?lava cake" class="d-block w-100" alt="...">
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img src="https://source.unsplash.com/1200x900/?wedding cake" class="d-block w-100" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="https://source.unsplash.com/1200x900/?birthday cake" class="d-block w-100" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="https://source.unsplash.com/1200x900/?Valentines cake" class="d-block w-100" alt="...">
            </div>
        </div>

      
      </div>
    </div>

{% endblock body %}